@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:wght@300;400&display=swap');

body {    
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: #041562;
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.titulo{
    font-family: "Fredoka", sans-serif;
    color: white;    
    font-size: 52px;
}

.subtitulo {
    font-family: "Fredoka", sans-serif;
    color: white; 
    font-size: 32px;
}

.tarjetas {
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokepon {
    width: 180px;
    height: 100px;
    background: #114685;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;
}

.tarjeta-de-mokepon img {
    width: 80px;
}

#boton-mascota {
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid white;
    color: white;
    margin-top: 30px;
}

input {
    display: none;
}

#seleccionar-ataque {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boton-de-ataque {
    background: #114685;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border-color: transparent;
    width: 100px;
    color: white;
}