.titulo{
    color: hotpink;
    width: 340px;
    height: 50px;
    background-color: teal;
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.tarjeta-de-mokepon {
    width: 100px;
    height: 100px;
    background: aquamarine;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
}

input {
    display: none;
}